@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.iceland{
    font-family: 'Iceland', cursive;
}

.reglog{
    background: #214F55;
    border-radius: 10px;
}
.reglog a{
    color: white !important;
}